.arrowup {
    display: block;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    line-height: 85px;
    border-radius: 50%;
    background-color: #FFAC1C;
    color: $secondary-color;
    text-decoration: none;
    z-index: 1;
    text-align: center;
    i {
        font-size: 2rem;
    }
}