$primary-color:#000;
$secondary-color: #FFF;
$accent-color: #474747;
$title-size: 1.25rem;
$text-size: 1.5rem;
$button-size: 1rem;
$small-size: 0.9rem;
$normal-weight: 400;
$light-weight: 300;
$title-weight:700;
$semi-weight: 600;